p {
  color: cornflowerblue;
  /* font-size: 36px; */
  /* letter-spacing: 5px; */
  /* kerning: auto; */
  /* font-style: bold; */
  margin: 100px;
}
h2 {
  color: darkorange;
  /* text-decoration: dotted; */
  /* text-decoration-style: wavy; */
  /* text-decoration-color: darkorange; */
}
