body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #c555d6; */
}

.container {
  background: linear-gradient(135deg, #8a2be2, #4169e1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}
p {
  color: #666;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;

  /* flex-direction: column; */
}

input[type="email"]:focus {
  outline: none;
  box-shadow: 0 0 5px #8a2be2;
  border: 2px solid #8a2be2;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #9156cc;
  box-shadow: #ffffff 0px 5px 15px;
}

button:hover {
  background-color: #22053f;
  transition: background-color 0.3s ease-in-out;
}
