body {
  background-color: #898282;
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 100vh;
}
h1 {
  color: rgb(67, 67, 182);
  display: flex;
}

.card {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: white;
  padding: 50px;
  margin: auto;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(240, 20, 20);
  background-color: #ffffff;
}

button {
  background-color: royalblue;
  margin-bottom: 10px;
  height: 45px;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(1, 1, 88);
  cursor: pointer;
}
